go 1.23

use (
	./bus
	./bus/nats
	./communication/email/sendgrid
	./communication/email/ses
	./communication/provider
	./communication/push/expo
	./communication/push/fcm
	./communication/sms/twilio
	./communication/telegram
	./communication/voice/twilio
	./communication/whatsapp/meta
	./communication/whatsapp/twilio
	./environment
	./i18n
	./identity/jwt
	./observability/health
	./observability/metrics
	./observability/tracing
	./storage/r2
)
